@import url("https://fonts.cdnfonts.com/css/amazon-ember");

.display-show-container {
  display: flex;
  margin-top: 4%;
  font-family: "Amazon Ember", sans-serif;
}

.left-container {
  margin-left: 10%;
  width: 20%;
  height: 20%;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.center-container {
  margin-left: 7%;
  margin-right: 8%;
  font-size: 25px;
  width: 30%;
}

.right-container {
  margin-left: 20px;
  float: right;
  height: 500px;
  width: 200px;
  border: 1px #d5d9d9 solid;
  border-radius: 8px 8px 0 0;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}

.product-price {
  margin-bottom: 10px;
}

.delivery-date {
  color: black;
  font-weight: bold;
}

.delivery-label {
  line-height: 18px;
}

.stock-label {
  color: #007600;
  margin-bottom: 10px;
}

.return-label,
.delivery-label {
  color: #007185;
}

.fast-delivery-hour {
  color: #007600;
}

.fastest-delivery {
  line-height: 18px;
}

.return-label,
.delivery-label,
.fastest-delivery {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  cursor: pointer;
}

.price-label,
.price-amt {
  display: none;
}

.count-select {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: transparent;
  border-radius: 7px;
  background: #f0f2f2;
  box-shadow: 0 2px 10px rgba(15, 17, 17, 0.394);
  padding: 1px 4px;
  font-size: 12px;
  cursor: pointer;
  word-spacing: 3px;
}

.count-select:hover {
  background: #bbbbbbb9;
}

.count-select > option {
  background-color: white;
}
.product-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form > input.product-add-btn {
  margin-top: 15px;
  background: #ffd814;
  border-color: #fcd200;
  border-radius: 19px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  padding: 7px;
  width: 100%;
  max-width: 100%;
}

.product-add-btn:hover {
  background: #f7ca00;
  border-color: #f2c200;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

hr {
  background-color: transparent;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-top: 1px solid #e7e7e7;
  display: block;
  height: 1px;
  line-height: 19px;
  margin-bottom: 14px;
  margin-top: 10px;
}

.price-label {
  position: relative;
  bottom: 5px;
  font-size: 14px;
  padding-right: 5px;
  color: rgba(0, 0, 0, 0.67);
}

.price-amt {
  font-size: 18px;
  color: #b12704;
  text-rendering: optimizeLegibility;
  line-height: 24px;
}

.about-label {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: bold;
}

.about-list {
  margin-left: 18px;
  font-size: 14px;
  font-weight: light;
  list-style: disc;
}
