@import url("https://fonts.cdnfonts.com/css/amazon-ember");

.cart-label {
    font-size: 28px;
}

.cart-container {
    font-family: "Amazon Ember", sans-serif;
    margin-left: 7%;
    margin-top: 2%;
    width: 70%;
    max-width: 80%;
    background-color: white;
    padding: 25px 25px;
    margin-bottom: 5%;
    padding-bottom: 3%;
}

.cart-background {
    background: #EAEDED;
    height: 100vh;
    width: 100%;
    padding: 1px;
}

.cart-form, .form-link {
    font-size: 12px;
}

.form-link {
    color: #007185;
}

.cart-eligible {
    margin-bottom: 5px;
}

.sub-total-container {
    float: right;
    font-size: 18px;
}

.sub-total-amt {
    font-weight: bold;
}

.cart-price-label {
    text-align: end;
    font-size: 14px;
    color: #565959;
    margin-right: 3px;
}

.top-border {
    margin-top: 5px;
}