@import url("https://fonts.cdnfonts.com/css/amazon-ember");

div {
    font-family: "Amazon Ember", sans-serif;
}

.cart-label {
    font-size: 28px;
}

.cart-container {
    margin-left: 7%;
    margin-top: 2%;
    width: 70%;
    max-width: 80%;
    background-color: white;
    padding: 25px 15px;
}
.cart-background {
    background: #EAEDED;
    height: 100%;
    width: 100%;
    position: absolute;
}
