@import url("https://fonts.cdnfonts.com/css/amazon-ember");

div {
    font-family: "Amazon Ember", sans-serif;
}

.cart-item-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.cart-item-image-container {
    margin-left: 20px;
    width: 15%;
    text-align: center;
}

.cart-item-name {
    font-size: 18px;
}

.cart-item-price {
    font-weight: bold;
}

.cart-item-image {
    width: 100%;
}

.item-name-container {
    width: 60%;
    margin-right: 15%;
}