@import url("https://fonts.cdnfonts.com/css/amazon-ember");

#root {
  width: 100%;
}

.nav-bar {
  background-color: #131921;
  height: 100%;
  max-height: 70px;
  display: flex;
  justify-content: space-between;
  font-family: "Amazon Ember", sans-serif;
  position: relative;
  z-index: 1;
  width: 100%;
}

.nav-left {
  width: 25%;
  min-width: 300px;
}

.nav-center {
  display: flex;
  align-items: center;
  width: 30%;
  flex: 1 1 auto;
  min-width: 600px;
}

.nav-search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-logo {
  margin-left: 5px;
  object-fit: contain;
  width: 125px;
}

.nav-search-field {
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  z-index: 1;
  border-style: none;
}

.nav-search-button {
  background: url("../../assets/search-button.png") no-repeat scroll 0 0
    transparent;
  background-color: #febd69;
  background-size: 60%;
  background-position: 65% 50%;
  color: transparent;
  border-radius: 5px;
  position: relative;
  right: 7px;
  border-style: none;
  border: none;
  cursor: pointer;
}

.nav-right {
  color: white;
  display: flex;
  justify-content: center;
}

.cart-link {
  display: flex;
  align-items: center;
}

.nav-right-container{
  margin: auto 10px;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid transparent;
  height: 50%;
  max-height: 70px;
  inline-size: max-content;
}

.nav-right-container:hover {
  border: 1px solid white;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-right-container > span,
.nav-right-container > a > span {
  font-size: 12px;
}

.nav-right-container > p,
.nav-right-container > a > p {
  font-weight: bold;
}

.nav-right > ul {
  display: flex;
}

.nav-right > ul > li {
  font-size: 18px;
  margin: 5px auto;
}